/* Estilos globais compartilhados */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.cabeçalho-inicial-mobile {
    background-color: #000000;
    color: rgb(255, 254, 254);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cabeçalho-inicial-mobile h1 {
    margin: 0;
    font-size: 1.5em;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    padding-top: 60px;
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

h3 {
    color: #000000;
    text-align:justify;
}

h4 {
    color: #000000;
    text-align:end;
}

button, input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover, input[type="submit"]:hover {
    background-color: #000000;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

textarea {
    resize: vertical;
    min-height: 70px;
}
